body {
  margin: 0;
  background: rgba(0, 0, 0, 0.04);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#page-title {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0;
  display: block;
}

#top-panel {
  position: sticky;
  top: 0;
  padding: 25px 0 0 0;
  background: #F5F5F5;
  max-width: 860px;
  margin: auto;
  z-index: 2;
}

#add-panel {
  width: 100%;
  min-width: 220px;
  max-width: 450px;
  margin: 25px auto 12px auto;
  padding: 20px 20px 15px 20px;
}