.todo-item {
    width: 80%;
    min-width: 360px;
    max-width: 640px;
    margin: 20px auto 20px auto;
}

.item-name {
    font-weight: bold;
    text-align: center;
    margin: 0 0 6px 0;
}
.item-desc {
    text-align: justify;
}

.item-list {
    text-align: center;
    padding: 10px 20px 0 20px;
}

.list-container {
    text-align: center;
}

.list-container > #list-load-error-msg {
    text-align: initial;
    max-width: 420px;
    min-width: 360px;
}

.list-substitute, .loading-bar {
    margin: 32px auto 32px auto;
}