.todo-item {
    width: 80%;
    min-width: 360px;
    max-width: 640px;
    padding: 10px 10px 10px 10px;
    margin: 20px auto 20px auto;
}

.item-name {
    font-weight: bold;
    text-align: center;
    margin: 6px 0 6px 0;
}
.item-desc {
    text-align: justify;
}

.item-prop-container span {
    float: left;
    width: 50%;
}
.item-prop-container::after {
    content: "";
    display: table;
    clear: both;
}

.item-list {
    text-align: center;
    padding: 10px 20px 0 20px;
}

#add-btn {
    display: block;
    margin: 0 auto 20px auto;
}

/*.selected {
    background: lightblue !important;
}*/